body{
    font-family: Arial, Helvetica, sans-serif;
}
.topnav {
    background-color: rgb(43, 43, 43);
}
.topnav a{
    background-color: rgb(219, 219, 219);
    text-decoration: none;
}

.banner{
    background-color: aqua;
}

.container{
    background-color: rgb(199, 199, 199);
}

.menu{
    background-color: rgb(42, 165, 48);
    width: 20%;
}
.menu a{
    background-color: rgb(201, 201, 201);
    text-decoration: none;
    width: 100%;
}

.main{
    background-color: rgb(67, 0, 99);
    width: 60%;
}

.right{
    background-color: rgb(rgb(0, 173, 43));
    width: 20%;
}

.footer{
    background-color: goldenrod;
}
